.list-container{
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.list-title{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 32px;
    font-weight: bold;
}

.list-content{
    width: 480px;
    height: 48px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(173, 173, 173);
    background-color: #ffffff;
    transition: transform 0.2s ease;
    margin-top: 1.4em;
    color: black;
}

.list-content:hover{
    transform: scale(1.05);
    border-color: #6356f8;
    box-shadow: 0px 0px 10px #6356f8;
    /* background-color: pink; */
}

.list-link{
    text-decoration: none;
}

/* 480px보다 작은 화면일 때 */
@media screen and (max-width: 480px) {
    .list-content{
        width: 100%;
        
    }
  }
