*{
    font-family: pretendard;
}

/* 타이틀 */
.login-title {
    margin-top: 2em;
    margin-bottom: 1.6em;
    font-size: 32px;
    font-weight: bold;
    color: #262626;
}

/* 아이디, 비밀번호 입력 */
.login-content{
    margin-top : 10px;
    margin-bottom: 14px;
    font-size : 16px;
    color :#262626;
}

.login-input{
    border-radius: 8px;
    padding: 20px;
    margin-top:8px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid #e2e0c0; 
}

input{
    width:320px;
    outline:none;
    border:none;
    height: 18px;
    font-size: 16px;
    font-weight: 400;
}

input:focus-within{
    border:1px solid #9e30f4;
}

input::placeholder{
    color : #dadada;
}

/* 로그인 버튼 */
.login-btn {
    width:320px;
    height:48px;
    border:none;
    border-radius: 64px;
    cursor:pointer;
    margin-top: 16px;
    font-size: 15px;
}

.login-btn:hover{
    background-color: #dadada;
    color:#9e30f4;
}

.loginKakao-btn {
    background-color: #fffb00;
    width:320px;
    height:48px;
    border:none;
    border-radius: 64px;
    cursor:pointer;
    margin-top: 8px;
    font-size: 15px;
}

.loginKakao-btn:hover {
    background-color: #ffec46;
    color:#9e30f4;
}

.join-text{
    margin-top: 1.5em;
    font-size: 15px;
}

.join-text a{
    text-decoration: none;
}

/* 320px보다 작은 화면일 때 */
@media screen and (max-width: 320px) {
    input, .login-btn, .loginKakao-btn{
        width: 100%;
    }
  }